.scrollable::-webkit-scrollbar {
    width: 0;
  height: 0;
  background-color: transparent;
}

.scrollable {
    overflow: auto;
    display: -webkit-inline-box;
    width: 100%;
    height: 100%;
}

.person-image{
    border-radius: 50%;
}

.person-container{
    width: 400px;
    padding-top: 70px;
}